language: rust
rust:
  - nightly
script:
  - cargo build --features clippy
cache: cargo
before_deploy:
  - git config --local user.name "jkordish"
  - git config --local user.email "joe@unicornclouds.com"
  - git tag "$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)"
deploy:
  provider: releases
  api_key:
    secure: AOh/GcWACC0FMez932PZufRVxZ0xKYuX3MfcJKuV/zfftCXyDvM8bxxxXb1KGlH6CD87Kj9WpALtHVb+Ci280n1TcshUTW+r/jcuveLCGr0Y9/KGxJV4SGopbTc9rrStrQQuCukz9/5RvvKRADsj+Fgnq/OjHiJNX8BXqcigX5mJnhoPtcnzY6nAUBTnHfvvco09nCpHG5KwlAdBjmOjsohGS9KVIpmW3FpgHLpOLyZo7h1Lk0v3Ey0C6op1uxLxJQ4CSh0dFuArs1tpmp556tfFx+8eD1esGHlM9pGwvjYh8ZMG+dgyj2B2Ph+Y6X84K2hMqYEMvSYgn5lsXT6cmudmr/ypaTF5VTLVcNMhFFL70Wg3o8BqPXgT/fZr5P1AvHamSVwbKZTc199qKVdBjaFR2M+RTpiYadOG0RUG76J2RMJx6qt3Wi90BMtx3QdZBZ+/cBTyAhPDq4xdLRzF5qHSXeaOokCttWljsv/BIGmjTTOthgUHrfdxUOgIqTfsism9Px3eKICIEWB/qxTytB/etFTDx7IVeQzncCtkQ6KgHt+hDnCUdSGGCODAAbmuycRhqbPvRObRr/ANSvFppgMmQbVwOFuxUCK9sb7QZV5mHJYNRXgzEriZnwRb7UCnQTQoawPhL2W5xJRVgjv2k61hOhSonVfxxZVGdIqPJT0=
  file: "./target/release/s3post"
  script:
    - cargo build --release
  on:
    tags: true
  skip_cleanup: true
sudo: false
